body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contenedor{
  display: flex;
  justify-content:space-between;
  background-color: gray;
  
}

ul{
  display: flex;
  justify-content:space-between;
  align-items: center;
  list-style: none; 
}

li{
  margin: 0 20px 0 0;
}

a:hover{
  color: red;
}

.cartlogo{
  margin: 15px;
  margin-top: 30px;
}

.greetings{
  font-size: 5rem;
}